<div class="row">
    <section id="blog" class="secondary-color text-center scrollto clearfix ">
        <div class="row clearfix">
            <!-- <div class="section-heading">
                <h3>{{blog.tagline}}</h3>
                <h2 class="section-title">{{blog.title | uppercase}}</h2>
            </div>
            <div *ngFor="let post of blog.posts" class="col-sm-4">
                <app-post [post]="post"></app-post>
            </div> -->
        </div>
    </section>
</div>