
img {
	border-radius: 50%;
}

div {
	border: 0px solid #000;
	margin: 0px auto;
}

h5 {
	text-align: center;
}

.container {
	margin-top: 20px;
	margin-bottom: 20px;
}

.col-4 {
	margin: 0px auto;
}

.pastorImg {
	border: 1px solid #dadada;
	border-radius: 50%;
	vertical-align: middle;
	min-height: 80%;
	width: 80%;
}

.pastorDescr {
	font-size: 16pt;
	text-align: center;
	
}

.faded-ends { 
   display:block;
    border:none;
    color:white;
    height:1px;
    background: #dadada ;
    /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#dadada), to(#ffffff));*/
    background: linear-gradient(to right, transparent, transparent , #fa0000, #fa0000, transparent, transparent );
}