<app-about-us></app-about-us>

<div class="container-fluid py-3">
  <div class="container">
      <h5> Lead Pastor </h5>
        <div class="row p-3 col-12">
            <div class="col-4">
              <img src="assets/img/RevMairori.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Rev. Mairori </div>
            </div>
          
          
        </div>
    </div>

    <hr class="faded-ends">

    <div class="container">
      <h5> Pastors </h5>
        <div class="row p-3 col-12">
            <div class="col-4">
              <img src="assets/img/PortraitTemplate.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Pst. Luke Odhiambo </div>
            </div>
          
          <div class="col-4">
              <img src="assets/img/PortraitTemplate.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Pst. Stephen Munyambu </div>
          </div>

          <div class="col-4">
              <img src="assets/img/PstRachael.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Pst. Rachael </div>
          </div>
        </div>
    </div>
    
    <hr class="faded-ends">

    <div class="container">
      <h5> Assistant Pastors </h5>
        <div class="row p-3 col-12">
            <div class="col-4">
              <img src="assets/img/PortraitTemplate.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Rev. Hosea Mitei </div>
            </div>
          
          <div class="col-4">
              <img src="assets/img/RevOkeyo.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Rev. Matthews Okeyo </div>
          </div>

          <div class="col-4">
              <img src="assets/img/PortraitTemplate.png" class="pastorImg" alt="our vision" >
              <div class="pastorDescr "> Rev. Sylvester Kirwa </div>
          </div>
        </div>
    </div>
  
</div>
