
<div class="body">

	<div id="main-slider" class="carousel">
		<h1 class="carousel-caption"> 
			
			<p> A Church on a hill... </p> 

			<hr class="faded-ends">
			
			<button class="btn btn-dark" [routerLink]="[ '/contact-us' ]" routerLinkActive="active"> Reach Us </button> &nbsp;
			
			<button class="btn btn-light" [routerLink]="[ '/resource' ]" routerLinkActive="active"> Watch Sermons </button> &nbsp;
			
			<button class="btn btn-dark" [routerLink]="[ '/about-us/services' ]" routerLinkActive="active-link"> Service </button>
		
		</h1>
		
		<img class="d-block w-100" src="assets/img/cross-green.jpg" alt="First slide">
	</div>


<!-- <p> Test </p> -->
</div>