.body {
	border: 1px solid #fff;
	min-height: 80vh;
    height: auto;
}

button {
	padding: 10px;
	min-width: 150px;
}

.carousel {
	width: 100%;
	min-width: 760px ;
	
}

.carousel img {
	height: 80vh !important ;
	margin: 0 auto;
}

.carousel-caption  {
	color: #000;
	font-family: sans-serif;
	font-variant: small-caps;

}

.carousel-caption p  {
	font-size: 42pt;
	color: #202020;
	font-family: sans-serif;
	font-variant: small-caps;
	margin: 0px auto;
	background: #fafafa;
	opacity: 0.7;
    background: linear-gradient(to right, transparent , #fafafa, #fafafa, transparent );
    /*background: radial-gradient(#fafafa 10%, #dadada 20%, transparent 50%);*/

}

.faded-ends { 
   display:block;
    border:none;
    color:white;
    height:1px;
    opacity: 0.6;
    background: linear-gradient(to right, transparent , #fa0000, #fa0000, transparent );

}
