.body {
	border: 0px solid #dadada;
	min-height: 77vh;
    height: auto;
    max-width: 1280px;
}

table {
	border: 0px solid #000 ;
	margin: 0px auto;
	width: 80%;
}

table thead {
	font-size: 18px ;
	text-align: center;
}

table td {
	padding: 4%;
	border-bottom: 1px solid #dadada;

}

table i {
	font-size: 20px;
}

button {
	min-width: 150px;
	margin: 10px 0px 0px 0px;
}

i {
	cursor: pointer;
}

.mapouter {
	text-align:right;
	height:500px;
	width:840px;
}

.gmap_canvas { 
	overflow:hidden;
	background:none!important;
	height:500px;
	width:840px;
}