<div class="body">

	<div class="row">

	<div class="col-sm-4 col1 center-block">
		<table border="0">
			<thead colspan="2"> Location </thead>
			<tr>
				<td> <i class="fa fa-map-marker fa-fw"></i> </td>
				<td> State House Crescent </td>
			</tr>
			<tr>
				<td> <i class="fa fa-envelope fa-fw"></i> </td>
				<td> P. O. Box 49345 - 00100 Nairobi, Kenya</td>
			</tr>
			<tr>
				<td> <i class="fa fa-phone-square fa-fw"></i> </td>
				<td> +254 (0)202 713 312 | +254 (0)202 169 210 </td>
			</tr>
			<tr>
				<td> <i class="fa fa-paper-plane fa-fw"></i> </td>
				<td> info@aicmilimani.org </td>
			</tr>
			<tr>
				<td> <i class="fa fa-globe fa-fw"></i> </td>
				<td> www.aicmilimani.org </td>
			</tr>
			
		</table>
		<div class="text-center"> 
			<button class="btn btn-dark" data-toggle="modal" data-target="#myModal" > Message Us </button> 
		</div>

		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">
		  	

		    <!-- Modal content-->
		    <div class="modal-content row">
		      <div class="modal-header">
		      	<h4 class="modal-title"> Message Us </h4>
		        <i class="fa fa-times fa-fw" data-dismiss="modal" > </i>
		      </div>
		      <div class="modal-body">
		      <div class="form-group">
	        	<form [formGroup]="contactForm" (ngSubmit)="onSubmit()" >
	        	
				<div>
					<div *ngIf="name.invalid && (name.dirty || name.touched)" style="position: absolute;" class="alert alert-danger">
					  <div *ngIf="name.errors.required"> Name is required! </div>
					  <div *ngIf="name.errors.minlength"> Name must be at least 4 characters long! </div>  
					</div>

			        <label> Name : </label>
			        <input class="form-control" formControlName="name" required/>
		    	</div>

		    	<div>
		    		<div *ngIf="email.invalid && (email.dirty || email.touched)" style="position: absolute;" class="alert alert-danger">
					  <div *ngIf="email.errors.required"> Email is required! </div>
					  <div *ngIf="email.errors.email"> Email must be valid email! </div>  
					</div>
		        <label> Email : </label>
		        <input class="form-control" formControlName="email" required />
		    	</div>
		        
		    	<div>
		    		<div *ngIf="message.invalid && (message.dirty || message.touched)" style="position: absolute;" class="alert alert-danger">
					  <div *ngIf="message.errors.required"> Message is required! </div>  
					</div>
		        <label> Message : </label>
		        <textarea class="form-control" formControlName="message" placeholder="Your Message Here..." rows="5"></textarea>
		    	</div>
		        
		        <div class="text-right">
		        <button type="submit" class="btn btn-dark" [disabled]="!contactForm.valid" > Submit </button>
		    	</div>

		    	 <!-- <p> Form Status: {{ contactForm.status }} </p> -->
		    </form>
		        </div>
		      </div>
		      
		    </div>
		    <!-- End of Modal Content -->

		  </div>
		</div>
		

	</div>	

  <div class="col-md-6" style="border-left: 1px solid #dadada;">

	<div class="mapouter">
	  	<div class="gmap_canvas">
	  		<iframe width="840" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=aic%20milimani&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
	  		</iframe>
	  		<a href="https://www.pureblack.de"></a>
	  	</div>
	</div>

</div>
  </div>

</div>

