.container-fluid {
  max-width: 100%;
  height: auto;
  margin: 0px auto;
  overflow: hidden;
  border: none;
  min-height: 77vh;
}

iframe {
  border: none solid #f00;
  min-width: 100%;
  max-height: 1280px;
  height: 500px;
  border-radius: 0px;
  margin: 0;
  position: relative;
}

.btn1 {
  float: right;
  min-width: 1280px;
}

.btn {
  color: black;
  border-color: currentColor;
  background-color: white;
  border: solid 1px transparent;
  cursor: pointer;
  margin: 0;
  padding: 0.5em 1em;
  display: flex;
  justify-content: flex-end;
  float: right;
  font-size: 15px;
  overflow: auto;
}

.btn:hover {
  color: #FF0000;
  opacity: 1;
}

.img {
  max-width: 1280px;
  height: auto;
  margin: 5px auto;
  overflow: hidden;
  border: none;
  min-height: 77vh;
}