<div class="container-fluid">
	<div class="row">
		<iframe src="https://www.youtube.com/embed/EG1xxfXzrWE" frameborder="0"
			allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<div class="btn1">
			<a [routerLink]="[ '/resource/' ]" class="btn btn-dark" role="button">Sermons</a>&nbsp;
			<a [routerLink]="[ '/pastors-heart' ]" class="btn btn-dark " role="button"> Pastor's
				Heart</a>&nbsp;
			<a [routerLink]="[ '/resource/downloads' ]" class="btn btn-dark " role="button ">Downloads</a>&nbsp;
			<!-- <a [routerLink]="[ '/resource/' ]" href="resource" class="btn btn-dark " role="button">Resource</a> -->
		</div>
	</div>
	<!-- <div>
		<ng-template [ngIf]="found === true">
			<div *ngFor="let item of youtubeResults" class="shadow1">
				<iframe [src]="https://googleapis.com/yout" frameborder="0" allowfullscreen
					style="height:250px; width:350px"></iframe>
				<iframe src="https://www.youtube.com/embed/{{item.id.videoId}}"
					style="height:250px; width:350px"></iframe>
				<source
					src="https://www.googleapis.com/youtube/v3/videos?part=player&id=22i_0X0dpQ0&key=AIzaSyDg4k8vxQKcpkxtaH1iH2xhHONARckP5QI"
					type="video/mp4">
		</ng-template>
	</div> -->
	<!-- </div> -->
	<div class="row" align="center">
		<div class="col-sm-4" *ngFor="let items of youtubeResults">
			<a href="" data-toggle="modal" data-target="#myModal"><img src="{{ items.snippet.thumbnails.medium.url }}"
					class="rounded" height="200px" style="margin:20px 0px"> </a>
			<div id="myModal" class="modal fade" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<img src="{{ items.snippet.thumbnails.medium.url }}">
							<!-- <iframe [src]="items.snippet.resourceId.videoId | youtubeSafeUrl" frameborder="0" allowfullscreen style="height:250px; width:350px"></iframe> -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-6 text-center">
		<button class="btn btn-dark" (click)="getNextVideos()">LOAD MORE</button>
	</div>
</div>