<div class="container-fluid shadow-lg">
  <div class="footer-content">
    <div class="Copyright">
      <small> Copyright &copy; 2019 AIC Milimani. All Rights reserved </small>
    </div>

    <div class="social">
      <a class="col-md-1" href="#">
        <img src="assets/img/facebook.svg" height="20" width="20" class="d-inline-block align-top" alt="facebook">
      </a>
      <a class="col-md-1" href="#">
        <img src="assets/img/twitter.svg" height="20" width="20" class="d-inline-block align-top" alt="twitter">
      </a>
      <a class="col-md-1" href="#">
        <img src="assets/img/instagram.svg" height="20" width="20" class="d-inline-block align-top" alt="instagram">
      </a>
      <a class="col-md-1" href="">
        <img src="assets/img/youtube.svg" height="20" width="20" class="d-inline-block align-top" alt="youtube">
      </a>
    </div>
  </div>
</div>