.container-fluid {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 1%;
}

.footer-content {
    max-width: 1280px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright {
    padding-left: 5%;
}

.social-media{
    padding-right: 5%;
    float:right;
} 