<div class="container">
    <div class="card align-items-center">

        <h3>{{post.title}}</h3>
        <p class="post-sub">by {{post.author}} | {{post.publishdate | date:'dd-MMM-yyy'}}</p>
        <div class="post-featured-image">
            <img src="../assets/img/{{post.image}}" class="rounded-circle">
        </div>
        <ul>
            {{post.excert}}
        </ul>
        <!-- <a routerLink="/article/{{post.id}}" class="" (click)="getArticle()">Read More...</a> -->
        <a routerLink="/article/{{post.id}}" class="">Read More...</a>
    </div>
</div>