.jumbotron {
    height: 77vh;
    width: 100%;
}

.action-center {
    position: absolute;
    top: 60%;
}

.action-center h1 {
    font-size: 4rem;
    font-weight: 900;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow:-0.2px 0 #000000, 0 0.2px #000000, 0.2px 0 black, 0 -0.2px #000000;
    font-family: 'Montserrat', sans-serif;
}

.row>a {
    background-color: #ed2024;
    color: white;
}

.lead {
    font-size: 14px;
}

.nav-item {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

a {
    color: black;
}

a:hover {
    color: #f04c4f;
}

.active-link {
    border-bottom: 2px solid #ed2024;
}