<div class="jumbotron jumbotron-fluid" *ngFor="let ministry of ministries">
  <div class="container">
    <div class="row justify-content-center">
      <div class="action-center ">
        <h1 class="display-4 text-center">{{ ministry.name }}</h1>
        <h2 class="lead text-center">
          {{ ministry.about.vision.desc }}
        </h2>
        <!-- <div class="row justify-content-center mt-12">
          <a class="btn active col-md-5 col-4 p-3" role="button" aria-pressed="true">Join Ministry</a>
        </div> -->
      </div>
    </div>
  </div>
</div>
<div class="navigation">
  <div class="container">
    <ul class="nav justify-content-center">
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/ministry', type, 'view','home' ]"
          routerLinkActive="active-link">Ministry</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/ministry', type, 'view','about' ]"
          routerLinkActive="active-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/ministry', type, 'view','events' ]"
          routerLinkActive="active-link">Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/ministry', type, 'view','depertments' ]"
          routerLinkActive="active-link">Department</a>
      </li>
    </ul>
  </div>
</div>