.mini-section{
    display: flex;
    height: 20%;
    align-items: center;
}

.title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: -1px;
    text-decoration: none;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
