<div class="container py-3 align-items-center" *ngFor="let ministry of ministries">
  <div class="row mini-section pt-5">
    <div class="col-md-8 offset-md-2">
      <h2 class="title">{{ ministry.about.vision.name }}</h2>
      <p class="description">
        {{ ministry.about.vision.desc }}
      </p>
    </div>
  </div>
  <div class="row mini-section">
    <div class="col-md-8 offset-md-2">
      <h2 class="title">{{ ministry.about.mission.name }}</h2>
      <p class="description">
        {{ ministry.about.mission.desc }}
      </p>
    </div>
  </div>
  <ng-template [ngIf]="ministry.about.goal">
    <div class="row mini-section">
      <div class="col-md-8 offset-md-2">
        <h2 class="title">{{ ministry.about.goal.name }}</h2>
        <p class="description">
          {{ ministry.about.goal.desc }}
        </p>
      </div>
    </div>
  </ng-template>
  <!-- </div>
<div class="about-section section" *ngFor="let ministry of ministries"> -->
  <ng-template [ngIf]="ministry.about.description !== false">
    <div class="col-md8 offset-md-2 pb-3">
      <h2 class="title">Description</h2>
      <p class="description">
        {{ ministry.about.description }}
      </p>
    </div>
  </ng-template>
</div>