<div class="container-fluid">
  <div class="row m-0" style="width: 100%;">
    <div class="col-12 p-0">
      <app-header></app-header>
    </div>
  </div>
  <div class="router-container m-0">
    <!-- Routed components go here -->
    <router-outlet></router-outlet>
  </div>
</div>
<footer class="row bottom-row">
  <app-footer></app-footer>
</footer>