* {
    font-size: 10pt;
}

.container-fluid {
    padding: 0;
    margin: 0;
    display: flex;
    min-height: calc(100vh - 72px);
    background: #ffffff;
    flex-direction: column;
}

.router-container {
    margin: 0;
    padding: 0;
    width: 100%;
    align-self: center;
    background-color: transparent;
}
.bottom-row app-footer { 
    margin: 0%;
    padding: 0;
    width: 100vw;
    bottom: 0;
}