<div class="all">
  <div class="body">
    <h4 class="Ministry">Ministry</h4>
    <p>This are all the ministries that are available</p>
    <div class="ministry-row">
      <div class="ministry-card" [ngClass]="{'tinted-layer': ministry.ifExist}" *ngFor="let ministry of ministries"
        (click)="navigateToMinistry(ministry)">
        <img src="../../../../assets/img/cover-item.jpg" alt="">
        <!-- <img src="assets/img/cover-item.jpg" alt=""> -->
        <p class="ministry-title">{{ ministry.name }}</p>
        <ng-template [ngIf]="ministry.ifExist">
          <p class="hover-text rounded-pill"> View Ministry</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>
