.ministry-row {
    padding: 0 5%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.ministry-card {
    width: 40%;
    height: 30%;
    margin: 1%;
    position: relative;
}

.tinted-layer {
    cursor: pointer;
}

.tinted-layer:before {
    background: none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tinted-layer:hover:before {
    opacity: 0.7;
    background: #000000;
    transition: all .8s ease-in;
}

.ministry-card img {
    width: 100%;
    height: 100%;
}

.ministry-card .ministry-title {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

.ministry-card .hover-text {
    left: 40%;
    bottom: 0;
    opacity: 0;
    color: #ffffff;
    margin-top: 40%;
    font-size: 14px;
    position: absolute;
    position: absolute;
    padding: 10px 15px;
    border: 2px solid #ffffff;
}

.ministry-card:hover .hover-text {
    opacity: 1;
    transition: 1s ease;
    transform: translateY(-80%);
}