:host{
    width: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-content {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#collapsibleNavbar{
    justify-content: flex-end;
}

.nav-link {
    font-size: 14px;
}

.active {
    border-bottom: 3px solid #ed2024;
}

.nav-link:hover {
    border: none;
    background: #ee3639;
    color: #ffffff !important;
    padding: 20px;
    border-radius: 6px;
    display: inline-block;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
}