<nav class="navbar navbar-expand-lg py-3 navbar-light bg-white border-bottom shadow-md m-0">
  <div class="nav-content">
    <!--Navbar brand-->
    <a [routerLink]="[ '' ]">
      <img src="assets/img/aic-logo.png" width="200" height="40" class="d-inline-block align-top" alt="home">
    </a>

    <!-- Toggler / Collapsible-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--Navbar links-->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="p-2 text-dark nav-link" [routerLink]="[ '/about-us' ]" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark nav-link" [routerLink]="[ '/ministry' ]" routerLinkActive="active">Ministry</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark nav-link" [routerLink]="[ '/resource' ]" routerLinkActive="active">Resource</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark nav-link" [routerLink]="[ '/blog' ]" routerLinkActive="active">Blog</a>
        </li>
        <li class="nav-item">
          <a class="p-2 text-dark nav-link" [routerLink]="[ '/contact-us' ]" routerLinkActive="active">Contact Us</a>
        </li>
        <ng-template *ngIf="wantsToSearch === false">
          <button (click)="searchClicked()">Search</button>
        </ng-template>
        <ng-template *ngIf="wantsToSearch === true">
          <form class="nav-item form-inline pl-2">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>