<div class="article-container">
    <div clas="article-body">
        <div class="banner"></div>
        <div class="article-header">
            <h3 style="text-align: center;"><strong>{{articleDesctirption.heading}}</strong></h3>
            <ng-template [ngIf]="articleDesctirption.verseCount !== 0">
                <p>{{articleData.v1}}</p>
            </ng-template>
            <p>article by: {{articleDesctirption.by}}</p>
            <p>{{articleDesctirption.writerDescription}}</p>
            <p>Created On: {{articleDesctirption.dateWritten}}</p>
        </div>
        <div class="article-body">
            <p>{{articleData.p1}}</p>
            <p>{{articleData.p2}}</p>
            <div class="withQoute">
                <p>{{articleData.p3}}</p>
                <p>{{articleData.q1}}</p>
            </div>
            <p>{{articleData.p4}}</p>
            <p>{{articleData.p5}}</p>
            <p>{{articleData.p6}}</p>
            <p>{{articleData.p7}}</p>
            <div class="withQoute">
                <p>{{articleData.p8}}</p>
                <p>{{articleData.q2}}</p>
            </div>
            <p>{{articleData.p9}}</p>
            <p>{{articleData.p10}}</p>
            <div class="withQoute">
                <p>{{articleData.p11}}</p>
                <p>{{articleData.q3}}</p>
            </div>
            <p>{{articleData.p12}}</p>
        </div>
    </div>
</div>