.banner {
    background-color: #e5e5e5;
    height: 77vh;
    background-image: url('../../../assets/img/article/bible.jpg');
    background-position: center;
    background-size: cover;
}

.article-container {
    min-height: 100%;
    height: 100%;
}

.article-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}