h6 {
  text-decoration: underline;
}

#weekly .previous{ 
     
     float:left;
     
    
 } 

 #weekly .next{ 
     
     float:right;
    
    
 }
 .body {
	border: 10px solid #dadada;
	min-height: 77vh;
    height: auto;
    width: 1280px;
}
.row{
margin: 10px;
outline: 1px solid #CCC;
background: #grey;

height:auto;
overflow:auto;
border: none;
}
#posted_div{
	border: 10px solid #dadada;
	width:400px;
	height: auto;
	background-color:white;
	border-radius: 25px;

}

.img{
	float: right;
	height: auto;

}
.btn:after {
    font-family: "Glyphicons Halflings";
    content: "\e114";
    float: right;
    margin-left: 15px;
  }
 
  .btn.collapsed:after {
    content: "\e080";
  }
  .read-more-state {
  display: none;
}

.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .25s ease;
}

.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: inherit;
  max-height: 999em;
}

.read-more-state ~ .read-more-trigger:before {
  content: 'Show more';
}

.read-more-state:checked ~ .read-more-trigger:before {
  content: 'Show less';
}

.read-more-trigger {
  cursor: pointer;
  display: inline-block;
  padding: 0 .5em;
  color: #666;
  font-size: .9em;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: .25em;
}

#expand {
  height: 0px;
  overflow: hidden;
  transition: height 0.5s;
  color: #FFF;
}
section {
  padding: 0 20px;
}
#toggle:checked ~ #expand {
  height: 250px;
}
#toggle:checked ~ label::before {
  content: "-";
}
