div {
	border: 0px solid #000;
	height: auto;

}

h5 {
	
}

img {
	width: 100%;

}

.faded-ends { 
   display:block;
    border:none;
    color:white;
    height:1px;
    background: #dadada ;
    /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#dadada), to(#ffffff));*/
    background: linear-gradient(to right, transparent, transparent , #fa0000, #fa0000, transparent, transparent );
}

.row {
	margin: 50px 0 50px 0;

}

.col-3 {

}

.mine-one {
	background: url(/assets/img/sunday-gothic.png);
}

.mine-two {
	background: url(/assets/img/midweek-gothic.png);
}

.tint-layer {
    cursor: pointer;
}

.tint-layer:before {
    background: none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tint-layer:hover:before {
    opacity: 0.7;
    background: #000;
    transition: all .8s ease-in;
}

.hovable {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    overflow: hidden;
}

.hovable:hover {
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition: all .6s ease-in;
    /*transform: scale(1.2);
    box-shadow: 0 0 10px black inset;*/
}

.hovable .hover-text {
    left: 45%;
    bottom: 0;
    opacity: 0;
    color: #ffffff;
    margin-top: 50%;
    font-size: 14px;
    position: absolute;
    padding: 10px 15px;
    border: 2px solid #ffffff;
}

.hovable:hover .hover-text {
    opacity: 1;
    transition: 1s ease;
    transform: translateY(-80%);
}

/*

.mine-one:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 8px solid transparent;
  border-right: 8px solid #dadada;
  border-top: 8px solid #dadada;
  border-bottom: 8px solid transparent;
  left: -22px;
  top: 40px;
}

.mine-one:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid transparent;
  border-right: 7px solid #fff;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  left: -19px;
  top: 41px;
}

.mine-two:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 9px solid #dadada;
  border-right: 9px solid transparent;
  border-top: 9px solid #dadada;
  border-bottom: 9px solid transparent;
  right: -23px;
  top: 40px;
}

.mine-two:after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 7px solid #fff;
  border-right: 7px solid transparent;
  border-top: 7px solid #fff;
  border-bottom: 7px solid transparent;
  right: -19px;
  top: 41px;
}

*/



