<app-about-us></app-about-us>

<div class="container-fluid py-3">
    <div class="container">
    	
    	<div class="row">
	    	<div class="col-3">
	    		<!-- 
	    		<h5> Sunday Services </h5>
	    		<hr> -->
	    		<h6> First Service </h6>
	    		<p> 0830HRS - 1000HRS </p>

	    		<h6> Second Service </h6>
	    		<p> 1030HRS - 1230HRS </p>

	    		<h6> Youth Service </h6>
	    		<p> 1300HRS - 1500HRS </p>

	    	</div>

	    	<!-- <div class="mine-one col-9"> </div> -->
	    	<div class="mine-one col-9 hovable">
	    		<a href="#">
	    			<span class="tint-layer">
	    				<p class="hover-text rounded-pill"> View </p>
	    			</span> 
	    		</a> 
	    	</div>
    	</div>
    	<hr class="faded-ends">
    	
    	<div class="row">
    		<div class="mine-two col-9 hovable">
    			<span class="tint-layer">
    				<p class="hover-text rounded-pill"> View </p>
    			</span>
    		</div>

    		<div class="col-3">
    			<!--
    			<h5> Midweek Services </h5>
    			<hr> -->

	    		<h6> Wednesday: Prayer Service </h6>
	    		<p> 1300HRS - 1500HRS </p>

	    		<h6> Friday: Youth Bible Study </h6>
	    		<p> 1300HRS - 1500HRS </p>
	    		 
	    	</div>

    	</div>




    </div>
</div>
