<!-- <app-ministry></app-ministry> -->
<div class="container py-3" *ngFor="let ministry of ministries">
  <div class="row justify-content-center">
    <div class="card col-md-5 m-2 p-2" *ngFor="let event of ministry.events">
      <div class="rectangle bg-secondary"></div>
      <h3 class="card-title card-img-overlay">{{ event.name }}</h3>
      <div class="card-body">
        <p class="card-text"></p>
      </div>
    </div>
  </div>
</div>