<!-- <div class="jumbotron">
 <img src="assets/img/Milimani1.jpeg" alt="First slide"> 
</div> -->
<div class="body">
  <div id="" class="carousel">
  <img class="d-block w-100" src="assets/img/cross-green.jpg" alt="First slide">
  </div>
</div>


<div class="navigation">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/about-us/home' ]" routerLinkActive="active-link"> Who We Are </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/about-us/team' ]" routerLinkActive="active-link"> Pastoral Team </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="[ '/about-us/services' ]" routerLinkActive="active-link"> Service Times </a>
      </li>

    </ul>
  </div>
</div>