.body {
    border: 1px solid #fff;
    min-height: 80vh;
    height: auto;
}

.carousel {
    width: 100%;
    min-width: 760px ;
}

.carousel img {
    height: 80vh !important ;
    
    margin: 0 auto;
}

.action-center {
    position: absolute;
    top: 60%;
}

.row > a {
    background-color: #ed2024;
    color: white;
}

.lead {
    font-size: 14px;
}
.nav-item {
    font-size: 20px;
}

a {
    color: black;
}

a:hover {
    background-color: #f04c4f;
    border-radius: 4px;
}
.active-link {
    border-bottom: 2px solid #ed2024;
}
