<div class="row"align="center">
	
	
      
       <div  class="col-sm-4" *ngFor ="let item of images">
       	

          {{item.title}} <div><a href="../assets/img/{{item.image}}" download>
  			<img src="../assets/img/{{item.image}}" class="rounded" ></a>
  		</div>

     </div>
     <div class="col-sm-6 text-center">
       <a href="resource" class="btn btn-dark" role="button">Back</a>
    </div>
	



</div>