.row {
  max-width: 1280px;
  height: auto;
  margin: 0px auto;
  overflow:hidden;
  border: none ;
  min-height: 77vh;
}
.h3{
	color: red;
}
.btn{
	color: black;
  border-color: currentColor;
  background-color: white;
  border: solid 1px transparent;
  cursor: pointer; 
margin: 0;
padding: 0.5em 1em;
display:flex;
  justify-content:flex-end;
  float: left;
   font-size: 15px;
    overflow: auto;
}