.section{
    height: 60%;
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.rectangle {
    width: 60vh;
    height: 40vh;
    border-radius: 5px;
}

.btn {
    border: 1px solid black;
}

a:hover {
    background-color: #f04c4f;
}

.myRounded {
	border-radius: 80px;
	border: 1px solid #000;
}

.d-flex img {
	border: 1px solid #000;
	border-radius: 50px;

}

.row {
    margin: 50px 0 50px 0;

}

.faded-ends { 
   display:block;
    border:none;
    color:white;
    height:1px;
    background: #dadada ;
    /*background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 350, from(#dadada), to(#ffffff));*/
    background: linear-gradient(to right, transparent, transparent , #fa0000, #fa0000, transparent, transparent );
}

.mine-one {
    background: url(/assets/img/sanctuary-convex.jpg);
}

.mine-two {
    background: url(/assets/img/myVision2.jpg);
}

.mine-three {
    background: url(/assets/img/myMission.jpg);
}

.tint-layer {
    cursor: pointer;
}

.tint-layer:before {
    background: none;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.tint-layer:hover:before {
    opacity: 0.7;
    background: #000;
    transition: all .8s ease-in;
}

.hovable {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 200px;
    overflow: hidden;
}

.hovable:hover {
    background-color: #000;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    transition: all .6s ease-in;
    /*transform: scale(1.2);
    box-shadow: 0 0 10px black inset;*/
}

.hovable .hover-text {
    left: 45%;
    bottom: 0;
    opacity: 0;
    color: #ffffff;
    margin-top: 50%;
    font-size: 14px;
    position: absolute;
    padding: 10px 15px;
    border: 2px solid #ffffff;
}

.hovable:hover .hover-text {
    opacity: 1;
    transition: 1s ease;
    transform: translateY(-80%);
}