<app-about-us></app-about-us>

<div class="container-fluid py-3">
  
    <div class="container">

      <div class="row">
        <div class="col-3">
          <h2 class="title"> Church History </h2>
          <p class="description">
              Existing for over 25 years.....
            </p>
            <a [routerLink]="[ '/about-us/history' ]" class="btn btn-lg active" role="button" aria-pressed="true">Learn More</a>

        </div>
        <div class="mine-one col-9 hovable"> 
          <a href="#"> 
            <span class="tint-layer"> 
              <p class="hover-text rounded-pill"> View </p>
            </span> 
          </a> 
        </div>
      </div>

      <hr class="faded-ends">

      <div class="row">
        <div class="mine-two col-9 hovable"> 
          <a href="#"> 
            <span class="tint-layer"> 
              <p class="hover-text rounded-pill"> View </p>
            </span> 
          </a>  
        </div>

        <div class="col-3">
          <h2 class="title"> Church Vision </h2>
            <p class="description">
              "Built on the foundation of the Apostles, and Prophets, with Christ Jesus Himself as the Chief Cornerstone"
            </p>
           
        </div>
      </div>

      <hr class="faded-ends">

      <div class="row">
        <div class="col-3">
          <h2 class="title"> Church Mission </h2>
            <p class="description">
              "We exist to teach scriptures, minister to the contemporary modern man and meet needs with approporiate skills and tools"
            </p>

        </div>

        <div class="mine-three col-9 hovable"> 
          <a href="#"> 
            <span class="tint-layer"> 
              <p class="hover-text rounded-pill"> View </p>
            </span> 
          </a> 
        </div>
      </div>


    </div>
  
    
</div>
