/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Raleway|Roboto');
@import url('https://fonts.googleapis.com/css?family=Montserrat:700,900&display=swap');
html {
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2 {
    font-family: 'Playfair Display', serif;
}

h3, h4, h5, p {
    font-family: 'Roboto', sans-serif;
}

a {
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 14px;
}

.title {
    font-size: 20px;
}