.section{
    height: 60%;
    display: flex;
    align-items: center;
}

.text-center {
    text-align: center;
}

.rectangle {
    width: 40vh;
    height: 40vh;
}

.btn {
    border: 1px solid black;
}

a:hover {
    background-color: #f04c4f;
}