<!-- <app-ministry></app-ministry> -->
<div class="container-fluid py-3">
  <div class="section about-section">
    <div class="container">
      <div class="row p-3">
        <div class="d-flex col-md-6 m-0 p-0">
          <div class="my-md-5 mx-md-5 p-3">
            <h2 class="title">About The Ministry</h2>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a [routerLink]="[ '/ministry/about' ]" class="btn btn-lg active" role="button" aria-pressed="true">Learn More</a>
          </div>
        </div>
        <div class=" d-flex col-md-6 align-self-center justify-content-center">
          <div class="rectangle bg-secondary "></div>
        </div>
      </div>
    </div>
  </div>
  <div class="section event-section my-1">
    <div class="container">
      <div class="row p-3">
        <div class="d-flex col-md-6 align-self-center justify-content-center">
          <div class="rectangle bg-secondary "></div>
        </div>
        <div class="d-flex col-md-6 m-0 p-0">
          <div class="m-md-5 p-3">
            <h2 class="title">Activities</h2>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
              laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
              esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
              qui officia deserunt mollit anim id est laborum.
            </p>
            <a [routerLink]="[ '/ministry/events' ]" class="btn btn-lg active" role="button" aria-pressed="true">Learn More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section departments-section">
    <div class="container">
      <div class="row p-3">
        <div class="d-flex col-md-6 m-0 p-0">
          <div class="mt-md-5 mx-md-5">
            <h2 class="title">Depertments</h2>
            <p class="description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <a [routerLink]="[ '/ministry/depertments' ]" class="btn btn-lg active" role="button" aria-pressed="true">Learn More</a>
          </div>
        </div>
        <div class=" d-flex col-md-6 align-self-center justify-content-center p-3">
          <div class="rectangle bg-secondary "></div>
        </div>
      </div>
    </div>
  </div>
</div>