.text-center {
    text-align: center;
}

.title {
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 2%;
}

.department{
    margin: 2% 0;
    font-weight: 600;
    font-size: 16px;
}