<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h2 class="title justify-content-center">Ministry Depatments include: </h2>
      <ol class="dept-list">
        <li class="department" *ngFor="let department of departments"> {{ department }}</li>
      </ol>
    </div>
  </div>
</div>